*	-fstype=nfs,rw,rsize=1048576,wsize=1048576,namlen=255,hard,intr,proto=tcp,port=0,timeo=600,retrans=2,acl,noatime,dodiratime,sync,context="system_u:object_r:public_content_t:s0"	{{nfs_server}}:/mnt/nas/mirrors/&
